<app-empleado></app-empleado>   
<main>
    <div class="contenido">
        <form class="formulario" [formGroup]="obtenerdepart" (ngSubmit)="obtenerdepartamentos()">
            <input class="buscador" formControlName="nombre" type="search" name="query" placeholder="Introduce el nombre del departamento" />
            <button class="botonbuscador" type="submit">Buscar</button>
        </form>
        
        <div class="listadepartamentos" *ngIf="departamentos.length > 0; else nohaydepartamentos">
            <ul class="listadepartamentos">
                <li class="elementolista" *ngFor="let departamento of departamentos">
                    <div class="departamento">
                        <p class="campo">Nombre:</p>
                        <p class="nombredepartamento">{{ departamento.nombre }}</p>
                    </div>
                </li>
            </ul>
        </div>

        <ng-template #nohaydepartamentos>
            <p>No hay departamentos con ese nombre</p>
        </ng-template>
    </div>
</main>