<app-empleado></app-empleado>   
<main>
    <div class="contenido">
        <form class="formulario" [formGroup]="obtenertecn" (ngSubmit)="obtenertecnicos()">
            <input class="buscador" formControlName="nombre" type="search" name="query" placeholder="Introduce el nombre del tecnico" />
            <button class="botonbuscador" type="submit">Buscar</button>
        </form>
        
        <div class="listadetecnicos" *ngIf="tecnicos.length > 0; else nohaytecnicos">
            <ul class="listadetecnicos">
                <li class="elementolista" *ngFor="let tecnico of tecnicos">
                    <div class="tecnico">
                        <p class="campo">Nombre:</p>
                        <p class="nombretecnico">{{ tecnico.nombre }}</p>
                    </div>
                </li>
            </ul>
        </div>

        <ng-template #nohaytecnicos>
            <p>No hay tecnicos con ese nombre</p>
        </ng-template>
    </div>
</main>