<header>

</header>
<main>
    <div class="area">
        <div class="contenedorfuncion">
            <h1>Identificate en</h1>
            <h1 class="nombreempresa">{{empresaNombre}}</h1>
        </div>        
    <form [formGroup]="iniciasesionform"(ngSubmit)="identificarte()" class="contenedor">
        <div class="celda">
            <p  class="texto">Introduce tu DNI</p>
        </div>
        <div class="celda">
            <input type="text"  class="campo" formControlName="id"  id="idempresa" name="idempresa" placeholder="DNI">
        </div>
        <div class="celda">
            <p  class="texto">Introduce tu contraseña</p>
        </div>
        <div class="celda">
            <input type="password" class="campo" formControlName="contrasena" id="idempresa" name="idempresa" placeholder="●●●●●●●●">
        </div>
        <div class="celda">
            <button class="button">Indentificate</button>
        </div>
    </form>
</div>
</main>
