<app-empleado></app-empleado>
<main>
    <div class="contenido">
        <div class="parteusuario">
            <div class="perfil">
                <img class="fotoperfil" alt="Foto de Perfil">
                <div class="nombre">
                    <p class="textonombre">{{infoempleado.nombre}}</p>
                </div>
                <div class="rol">
                    <p class="textorol">{{infoempleado.rol}}</p>
                </div>
                <div class="fechaunion">
                  
                </div>
            </div>
        </div>
        <div class="estadisticas">

        </div>
    </div>
</main>