<header>

</header>
<main>
<div class="area">
    <div class="logo"><h1>{{empresaNombre}}</h1></div>
    <form class="empresa">
        <div class="celda">
            <p class="texto">Introduce el identificador de tu empresa</p>
        </div>
        <div class="celda">
            <input type="text" class="contenedor" formControlName="idempresa" id="idempresa" name="idempresa" placeholder="ID">    
        </div>  
        <div class="celda">
            <button class="button entrar" type="submit">Entrar</button>
        </div>
        <div class="celda">
            <button class="button info" type="submit" >Más Informacion</button>
        </div>
        
    </form>
    
</div>
</main>

  
