<header>

</header>
<main>
<div class="area">
    <div class="logo"><h1 class="textologo">{{empresaNombre}}</h1><p class="texto">{{empresaId}}</p>
    </div>
    <form class="menu">
        <div class="celda">
            <button class="button colas" [routerLink]="['colas']" >Colas</button>
        </div>
        <div class="celda">
            <button class="button tickets" [routerLink]="['tickets']" >Tickets</button>
        </div>
        <div class="celda">
            <button class="button identificarte" [routerLink]="['identificarte']"  >Identificarte</button>
        </div>        
    </form>
    
</div>
</main>

  
